<h1>Reset your password</h1>

<form action="/users/reset" method="post">
  <h2>Please enter your email address below</h2>
  <input type="email" name="email" placeholder="Email address">
  <input type="submit" value="Reset password">
</form>

<p>
  Thanks, Please check your inbox for the link.
</p>
