<form method="post" action="/links">
  <h2>Add a website to your bookmark list</h2>
  
  <section>
    <ul>
      <li><input name="title" type="text" placeholder="Title"></li>
      <li><input name="url" type="text" placeholder="URL"></li>
      <li><input name="tags" type="text" placeholder="Tags"></li>
    </ul>
  </section>

  <section>
    <p>
      <input value="Create Link" type="submit">
    </p>
  </section>
</form>
