<% if current_user %>
  <nav>
    <form action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="sign_out" value="Sign out">
    </form>
  </nav>

  <h1>Welcome, <%=current_user.username%></h1>
<% end %>
